In [2]:
import pandas as pd

In [3]:
import numpy as np

In [14]:
df=pd.read_csv("Indian Startups all Recovered.csv",sep=";", encoding='cp1252', on_bad_lines='skip')

In [18]:
df.tail()

    Company Name,Month,Founded,Location,Sector,What it does,Founders,Investor,Amount,Stage
426  Kolo,,2020,Singapore,Construction,Home Constru...
427  ,,2014,Gurgaon,Retail Technology,ParallelDots ...
428  BharatX,,2019,Benglaru,Financial Services,"Bha...
429  Hono,,2008,Haryana,Software,Hono is a provider...
430  MoEVing,,2021,Gurgaon,Electric Vehicle,MoEVing...

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431 entries, 0 to 430
Data columns (total 1 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Company Name,Month,Founded,Location,Sector,What it does,Founders,Investor,Amount,Stage  431 non-null    object
dtypes: object(1)
memory usage: 3.5+ KB
None

In [19]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
426    False
427    False
428    False
429    False
430    False
Length: 431, dtype: bool

In [21]:
df=df.split("\n")

AttributeError: 'DataFrame' object has no attribute 'split'

In [22]:
df.describe()

       Company Name,Month,Founded,Location,Sector,What it does,Founders,Investor,Amount,Stage
count                                                 431
unique                                                428
top     Company Name,,Founded,Location,Sector,What it ...
freq                                                    4